
    h1 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0px; 
    text-align: center;
    font-family: Montserrat,sans-serif;
    }
    
    
    .text {
    padding-left:50px;
    font-family: Montserrat,sans-serif;
    text-align: center;
    font-size: 18px;
    }
    
    .text1 {padding-left:80px;
    
        text-align: center;
        font-size: 25px;
        line-height: 30px;  
        font-family: Montserrat,sans-serif;
        }
    .octopus1year {
            width: 500px; 
            height: 50px;
            border: 2px solid #430c53;
            border-radius:  100% 0 0 100% / 85% 0 0 85%;
            background: #f1b4da;
            margin-left: 290px;
            margin-top: -54px;   }
   .octopus2year {
            width: 300px; 
            height: 50px;
            border: 2px solid #430c53;
            border-radius:  100% 0 0 100% / 85% 0 0 85%;
            background: #f1b4da;
            margin-left: 450px;
            margin-top: -54px;   }
    .octopus3year {
            width: 250px; 
            height: 50px;
            border: 2px solid #430c53;
            border-radius:  100% 0 0 100% / 85% 0 0 85%;
            background: #f1b4da;
            margin-left: 500px;
            margin-top: -54px;   }
    .octopus4year {
            width: 295px; 
            height: 50px;
            border: 2px solid #430c53;
            border-radius:  100% 0 0 100% / 85% 0 0 85%;
            background: #f1b4da;
            margin-left: 460px;
            margin-top: -54px;   }
    .octopus5year {
                width: 260px; 
                height: 50px;
                border: 2px solid #430c53;
                border-radius:  100% 0 0 100% / 85% 0 0 85%;
                background: #f1b4da;
                margin-left: 400px;
                margin-top: -54px;   }
    .octopus6year {
                    width: 260px; 
                    height: 50px;
                    border: 2px solid #430c53;
                    border-radius:  100% 0 0 100% / 85% 0 0 85%;
                    background: #f1b4da;
                    margin-left: 430px;
                    margin-top: -54px;   }
    #footer{
    margin-top: 64px;
    text-align: center;
    }